.p-5 {
  padding: 5rem !important;
}
.img-fluids {
  height: 281px !important;
}
.img-fluids {
  width: 281px !important;
}
h1 {
  font-size: 18px !important;
  text-align: center !important;
  color: black !important;
}
.p-5 {
  padding: 2rem !important;
}
/* .form-control {
  width: 200px;
} */
.logincontainer {
  width: 50%;
}
